<!-- MegaMenu -->
<div
  class="menu-item menu-lg-down-accordion me-lg-1"
  data-kt-menu-trigger="click"
  data-kt-menu-placement="bottom-start"
>
  <span class="menu-link py-3"><span class="menu-title">Mega menu</span></span>
  <div
    class="
      menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown
      w-100 w-lg-600px
      p-5 p-lg-5
    "
    data-kt-menu-dismiss="true"
  >
    <div class="row" data-kt-menu-dismiss="true">
      <div class="col-lg-4 border-left-lg-1">
        <div class="menu-inline menu-column menu-active-bg">
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 border-left-lg-1">
        <div class="menu-inline menu-column menu-active-bg">
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 border-left-lg-1">
        <div class="menu-inline menu-column menu-active-bg">
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
          <div class="menu-item">
            <a class="menu-link cursor-pointer"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">Example link</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
